body, html {
    background-color: #d9d9d9;
    margin: 0;
    padding: 0;
}

#logo {
    height: 300px;
    background: url('../img/logo.png') no-repeat center;
}

#nav {
    background-color: #333333;
    height: 50px;
    position: sticky;
    border-top: 1px solid #d9d9d9;
}

#content {
    height: auto;
}

#footer { 
    height: 200px;
}